<div class="b-input{{#if classes}} {{classes}}{{/if}}">
    <div class="b-input__box">
        <input class="b-input__control{{#if error}} error{{/if}}" type="{{#if type}}{{type}}{{else}}text{{/if}}" {{#if name}} name="{{name}}"{{/if}} {{#if id}} id="{{id}}"{{/if}} value="{{value}}" {{#if placeholder}} placeholder="{{placeholder}}"{{/if}} {{{attr}}}>
    </div>
</div>
